<!DOCTYPE html>
<html>
    <head>
        <title>passport diary</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <div id="landing-header">>
            <h1>my passport diary</h1>
            <a class="btn btn-primary btn-lg" href="/entries">view collection</a>
        </div>
    </body>
</html>


